<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.modules.repository.mysql.mapper.TMealInfoMapper">
  <resultMap id="BaseResultMap" type="org.example.modules.repository.mysql.table.po.TMealInfo">
    <!--@mbg.generated-->
    <!--@Table t_meal_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="applicability_sex" jdbcType="VARCHAR" property="applicabilitySex" />
    <result column="applicable_marriage" jdbcType="VARCHAR" property="applicableMarriage" />
    <result column="applicable_fertility" jdbcType="VARCHAR" property="applicableFertility" />
    <result column="applicable_age_start" jdbcType="INTEGER" property="applicableAgeStart" />
    <result column="applicable_age_end" jdbcType="INTEGER" property="applicableAgeEnd" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="dis_price" jdbcType="DECIMAL" property="disPrice" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, update_id, create_user, update_user, create_date, update_date, code, 
    `name`, applicability_sex, applicable_marriage, applicable_fertility, applicable_age_start, 
    applicable_age_end, price, dis_price, discount
  </sql>
</mapper>