<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.spring.infrastructures.mysql.customer.mapper.TCustomerContractMapper">
  <resultMap id="BaseResultMap" type="org.example.spring.infrastructures.mysql.customer.table.po.TCustomerContract">
    <!--@mbg.generated-->
    <!--@Table t_customer_contract-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="signing_time" jdbcType="TIMESTAMP" property="signingTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="bukect_name" jdbcType="VARCHAR" property="bukectName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, update_id, create_user, update_user, create_date, update_date, code, 
    `name`, customer_id, signing_time, `status`, file_name, bukect_name
  </sql>
</mapper>