<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.spring.daos.mysql.auth.mapper.TUserResourceMapper">
    <resultMap id="base" type="org.example.spring.daos.mysql.auth.table.po.TResource"
               extends="org.example.spring.daos.mysql.auth.mapper.TResourceMapper.BaseResultMap"/>

    <select id="listPermissionByUserId" resultMap="base">
        select
        <include refid="org.example.spring.daos.mysql.auth.mapper.TResourceMapper.Base_Column_List">
        </include>
        from t_resource
        where id in (
        select resource_id
        from t_role_resource
        where role_id in (
        select role_id
        from t_user_role
        where user_id = #{userId,jdbcType=BIGINT}
        )
        )
    </select>
</mapper>