<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.spring.infrastructures.mysql.patient.mapper.TPatientGroupMapper">
  <resultMap id="BaseResultMap" type="org.example.spring.infrastructures.mysql.patient.table.po.TPatientGroup">
    <!--@mbg.generated-->
    <!--@Table t_patient_group-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="person_num" jdbcType="INTEGER" property="personNum" />
    <result column="meal_id" jdbcType="BIGINT" property="mealId" />
    <result column="meal_name" jdbcType="VARCHAR" property="mealName" />
    <result column="meal_price" jdbcType="DECIMAL" property="mealPrice" />
    <result column="meal_dis_price" jdbcType="DECIMAL" property="mealDisPrice" />
    <result column="max_dis_price" jdbcType="DECIMAL" property="maxDisPrice" />
    <result column="max_discount" jdbcType="DECIMAL" property="maxDiscount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, update_id, create_user, update_user, create_date, update_date, customer_id, 
    group_id, person_num, meal_id, meal_name, meal_price, meal_dis_price, max_dis_price, 
    max_discount
  </sql>
</mapper>