<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.spring.infrastructures.mysql.patient.mapper.TPatientGroupMapper">
  <resultMap id="BaseResultMap" type="org.example.spring.infrastructures.es.patient.entity.po.TPatientGroup">
    <!--@mbg.generated-->
    <!--@Table t_patient_group-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="person_num" jdbcType="INTEGER" property="personNum" />
    <result column="team_meal_id" jdbcType="BIGINT" property="teamMealId" />
    <result column="meal_id" jdbcType="BIGINT" property="mealId" />
    <result column="meal_name" jdbcType="VARCHAR" property="mealName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_id, update_id, create_user, update_user, create_date, update_date, code, 
    `name`, customer_id, team_id, person_num, team_meal_id, meal_id, meal_name
  </sql>

  <select id="existById" resultType="boolean">
    select count(*) from t_patient_group where id = #{id,jdbcType=BIGINT} limit 1
    </select>
</mapper>