<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.spring.repositories.bill.postgres.mapper.TBillSubInfoQueryMapper">
    <resultMap id="subInfo" type="org.example.spring.repositories.bill.postgres.table.po.TBillSubInfo">
        <id column="id" property="id"/>
        <result column="sub_order_no" property="subOrderNo"/>
        <result column="bill_id" property="billId"/>
        <result column="order_no" property="orderNo"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>
    <sql id="col">
        id,
        create_id,
        update_id,
        create_user,
        update_user,
        create_date,
        update_date,
        sub_order_no,
        bill_id,
        order_no,
        total_price,
        `status`
    </sql>
    <select id="queryDetailsListByBillId" resultMap="subInfo">
        select
        <include refid="col">
        </include>
        from t_bill_sub_info
        where bill_id = #{billId,jdbcType=BIGINT}
    </select>
</mapper>