<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.spring.repositories.bill.mssql.mapper.TBillInfoMapper">
    <resultMap id="base" type="org.example.spring.repositories.bill.mssql.table.po.TBillInfo">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="patient_code" property="patientCode"/>
        <result column="patient_id" property="patientId"/>
        <result column="patient_name" property="patientName"/>
        <result column="patient_id_card_no" property="patientIdCardNo"/>
        <result column="total_price" property="totalPrice"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>
    <sql id="col">
        id,
        create_id,
        update_id,
        create_user,
        update_user,
        create_date,
        update_date,
        order_no,
        patient_code,
        patient_id,
        patient_name,
        patient_id_card_no,
        total_price
    </sql>
</mapper>