<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.spring.repositories.aggregation.patient.mapper.TPatientTeamMapper">
    <resultMap id="BaseResultMap" type="org.example.spring.repositories.aggregation.patient.table.po.TPatientTeam">
        <!--@mbg.generated-->
        <!--@Table t_patient_team-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age_start" jdbcType="INTEGER" property="ageStart"/>
        <result column="age_end" jdbcType="INTEGER" property="ageEnd"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="marriage" jdbcType="VARCHAR" property="marriage"/>
        <result column="bear" jdbcType="VARCHAR" property="bear"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_id, update_id, create_user, update_user, create_date, update_date, customer_id,
        code, `name`, age_start, age_end, sex, marriage, bear
    </sql>

    <select id="existById" resultType="boolean">
        select count(*) from t_patient_team where id=#{id,jdbcType=BIGINT} limit 1
    </select>
</mapper>